<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cldrjs" version="0.5.1" targetFramework="net471" />
  <package id="DevExtreme.AspNet.Data" version="2.6.1" targetFramework="net471" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net471" />
  <package id="EntityFramework.Functions" version="1.4.1" targetFramework="net471" />
  <package id="Hangfire" version="1.7.8" targetFramework="net471" />
  <package id="Hangfire.Core" version="1.7.8" targetFramework="net471" />
  <package id="Hangfire.Ninject" version="1.2.0" targetFramework="net471" />
  <package id="Hangfire.SqlServer" version="1.7.8" targetFramework="net471" />
  <package id="jquery-globalize" version="1.4.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net471" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net471" />
  <package id="Ninject" version="3.3.4" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
</packages>