.container {
    //  @media(max-width: 1899px){
    margin-bottom: 20px;
    @media(max-width: 840px){
      padding: 0 15px !important;

      margin-top: 50px;
    }
    @media(min-width: 841px) {
      padding: 0 30px !important;

        &-regular {
            margin-left: 255px;
            width: calc(100vw - 255px);
            max-width: calc(100% - 255px) !important;
        }
        &-wide {
            margin-left: 75px;
            width: calc(100vw - 75px);
            max-width: calc(100% - 75px) !important;
        }
    }
}
