@model string
@{
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-6 offset-3 text-center">

        <div class="card mt-5">
            <div class="card-body error-card">
                <h5 class="error-card-name text-body">@ErrorResource.ErrorText</h5>
                <h5 class="error-card-desc pt-1">@Model</h5>
            </div>
        </div>
    </div>
</div>