.page-header {
    height: 70px;
    @media(max-width: 840px) {
        flex-direction: column;
        height: auto;

    }
    &-title {
        @media(max-width: 840px) {
            padding-top: 20px;
        }
        color: $gray-300;
        font-size: 1.063rem;
        margin-bottom: 0;
    }
    &-actions {
        @media(max-width: 840px) {
            margin-top: 20px;
              margin-bottom: 15px;
        }
    }
}
